bun.lock linguist-generated
.snapshot_counter.txt linguist-generated
.vscode/* linguist-vendored
src/plugins/* linguist-vendored
*.mts linguist-language=ts
*.mjs linguist-language=js
*.cjs linguist-language=js